$main-color: #a6e145;
$background: #000000;
$text: #ffffff;
$button: #070707;
$shadow: 0 0 1.5rem 0 rgba(123, 123, 123, 0.25);

.date.terminal {
    * { color: $main-color }
    .number {
        color: $background;
        background-color: $main-color;
    }
}
.terminal {
    .segment { background-color: $main-color }
    .temperature { color: $main-color }
    .condition {
        box-shadow: $shadow;
        background-color: $button;
    }
    .digital {
        background-color: $background;
        &__display {
            &__clock {
                &__separator {
                    &::before, &::after { background-color: $main-color }
                }
            }
        }
        &__settings {
            &__actions {
                box-shadow: $shadow;
                background-color: $button;
                &__action {
                    color: $text;
                    &::before { background-color: $text }
                }
            }
            &__toggle {
                box-shadow: $shadow;
                background-color: $button;
                > ion-icon { color: $text }
            }
        }
    }
}